<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="ete-logo">
            <a href="#"><img src="../static/img/image.png" alt=""></a>
            <h1>Bem vindo ao Sistema de Reserva de Laboratórios ETE </h1>
        </div>
        <form action="#" method="post">
            <div class="title">
                <h1>Acesse sua conta para continuar</h1>
            </div>
            <div class="inputs">
                <div class="user-form">
                    <input type="text" class="user" id="name" name="name" required placeholder="Usuário">
                </div>
                <div class="password-form">
                    <input type="password" id="password" class="password" name="password" required placeholder="Senha">
                </div>
                <div class="recuperar-senha">
                    <div class="lembrar-senha">
                        <input type="checkbox" id="lembrar-senha" name="lembrar-senha" style="cursor: pointer;">
                        <label for="lembrar-senha" id="lembrar-senha" style="cursor: pointer;">Lembrar</label>
                    </div>
                    <a href="#">Esqueceu a senha?</a>
                </div>
            </div>
            <button type="submit" class="button-submit">Entrar</button>
        </form>

    </div>
</body>

</html>